.topline-container
  .active-advetisiments
    font-size: 1.5rem
    span
      font-weight: bold
      color: lighten($main-color, 41%)
  
.advertising-count
  font-size: .875rem
  span
    font-weight: bold
    text-decoration: underline
    color: lighten($main-color, 41%)

.advertisings
  min-height: 50vh
  .advertising-item
    padding: 0 .625rem 0 0
    border-bottom: 1px solid #e9e9e9
    &:hover
      background-color: #EFF2F0
    &--content
      h3
        margin-top: 0
        font-size: 1.125rem
        font-weight: 600
        color: lighten($main-color, 45%)
        a
          &:hover
            text-decoration: underline
            color: #333333
      .description
        color: #58585b
        font-size: .8125rem
        font-weight: 400
        margin-bottom: 5px
    &--data
      .d
        font-size: .875rem
        .ed
          color: lighten($main-color, 45%)
          font-size: .75rem

  &-detail
    h1
      font-size: 1.4375rem
      font-weight: 600

    &--images
      .slick-section
        .slick-carousel .slick-item
          position: relative
          width: 77px
          height: 71px
          display: flex
          justify-content: center
          align-items: center
          cursor: pointer
          background-repeat: no-repeat
          background-size: cover
          background-position: center center
          margin: 0 8px
          &:hover
            opacity: 0.7

        .slick-slide
          float: left

        .slick-prev:before, .slick-next:before
          color: $main-color
          content: ''

        .slick-arrow
          width: 10px
          height: 10px
          z-index: 5
          border-top: 3px solid $accent-color
          border-right: 3px solid $accent-color
          margin-top: -0.5rem
          &:hover
            opacity: 0.5

        .prev-next-bg
          border: 2px solid #d00c14
          border-radius: 4px
          background: #f0464c
          z-index: 50

        .slick-prev
          left: -2%
          transform: rotate(225deg)

        .slick-next
          right: -2%
          transform: rotate(45deg)
      &--image
        display: flex
        margin-bottom: .9375rem
        border-radius: .25rem
        height: 18.75rem
        align-items: center
        justify-content: center
        overflow: hidden
    
    &--content
      .data,
      .svg-inline--fa
        color: lighten($main-color, 45%)
        &:hover
          color: lighten($main-color, 45%)
      .data
        border-bottom: 1px solid #ececec
        margin-bottom: .9375rem
      .description
        line-height: 170%
        font-size: .865rem
      .price
        margin-top: 1rem
        span
          font-weight: 600
          color: lighten($main-color, 45%)

      .contacts-section
        background-color: #fcf4f4
        padding: .625rem
        border: 1px solid $main-color
        border-radius: 5px
        width: 31.25rem
        font-size: .9375rem
        strong
          display: block
          color: $main-color
          margin-bottom: .3125rem
        &--column
          display: flex
          justify-content: space-between
          flex-wrap: wrap
          margin-bottom: .3125rem
          &--label
            font-size: .9075rem
            font-weight: 600
            width: 25%
          &--info
            justify-content: space-around
            font-weight: normal
            width: 75%

      .statistic-section
        padding: .625rem
        border-radius: 5px
        width: 31.25rem
        font-size: .9375rem
        strong
          display: block
          color: $main-color
          margin-bottom: .3125rem
        &--column
          &--label
            font-size: .8125rem
            font-weight: normal
            width: 25%
          &--info
            justify-content: space-around
            font-size: .8125rem
            font-weight: normal
            width: 75%               

        // span
        //   display: inline-block
        //   width: 24%
        //   font-size: .9375rem
        //   font-weight: 600
        //   &:nth-child(2n+1)
        //     width: 75%
        //     font-weight: normal
    
    &--comments
      h1
        font-size: 1.4375rem
        font-weight: normal

      .comments-section
        .comment-block
          border-bottom: 1px dotted #000
          padding: .625rem 0
          margin-bottom: .625rem

          &--nickname
            font-size: .8125rem
          &--msg
            font-size: .8125rem
          &--date
            font-size: .6875rem
            span
              color: #999

      .btn
        background-color: $main-color
        color: #fff
        transition: width 0s
        border-radius: $border-radius
        &:hover
          background-color: lighten($main-color, 45%)

.comments-box
  background-color: lighten($main-color, 65%)
  padding: .9375rem .9375rem
  border-radius: .3125rem
.comment
  .form-group
    label
      font-size: .875rem
    .form-control
      transition: width 0s

.create-advertisings
  .section-header_steps
    border-bottom: 1px solid #eee
    padding-bottom: 1rem

    .media
      @media only screen and (max-width: 768px)
        flex-direction: column
        align-items: center

      h4
        font-size: 1rem
        color: #888888

        @media only screen and (min-width: 1200px)
          margin-left: 1rem
        @media only screen and (max-width: 1199px)
          margin-left: 1rem
        @media only screen and (max-width: 992px)
          margin-left: 1rem
        @media only screen and (max-width: 768px)
          font-size: 0.8rem
          text-align: center
          margin-left: 0

      &.active
        .circle
          background-color: #c5c1c1
          color: #fff
        h4
          color: #444444

    .circle
      display: inline-block
      background-color: #eee
      width: 100%
      height: 100%
      border-radius: 50%

      &-border
        display: inline-block
        width: 3rem
        height: 3rem
        padding: 0.1rem
        border: 3px solid #eee
        border-radius: 50%
        text-align: center
        line-height: 2.5rem
        color: #888888

  .section-header_title
    h3
      font-weight: 600
      font-size: 1.6rem

  .section-form
    label
      font-weight: 600
      span
        color: lighten($main-color, 45%)

    .form-group-bg
      padding: 1rem
      background-color: lighten($main-color, 65%)
      border-radius: .3125rem
      margin-bottom: 1rem

    &_selection,
    &_input
      margin-bottom: 0.5rem

      .form-control::-webkit-input-placeholder
        color: #afafaf
      .form-control:-moz-placeholder 
        color: #afafaf
      .form-control::-moz-placeholder
        color: #afafaf
      .form-control:-ms-input-placeholder
        color: #afafaf

      .form-control:hover::-webkit-input-placeholder
        color: #333333
      .form-control:hover:-moz-placeholder 
        color: #333333
      .form-control:hover::-moz-placeholder
        color: #333333
      .form-control:hover:-ms-input-placeholder
        color: #333333

      .form-control
        position: relative
        font-size: .875rem
        color: #afafaf
        transition: width 0s
        height: 2.5rem
        border-radius: $border-radius
        &:hover
          box-shadow: 0 0 11px rgba(33,33,33,.2)
          color: #333333

        &.textarea-height
          height: 15rem

      select
        background-color: #ffffff !important
        background: url('/img/arrow-up.png') no-repeat right .625rem center 
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        &:hover
          background: url('/img/arrow-up_hover.png') no-repeat right .625rem center


    .btn
      background-color: $main-color
      color: #fff
      transition: width 0s
      padding: .625rem 1.1875rem
      border-radius: $border-radius
      border: 0
      &:hover
        background-color: lighten($main-color, 45%)