.breadcrumbs
  border-bottom: 1px solid #dadada
  ol
    &.breadcrumb
      background-color: #fff
      margin: 2px 0
      padding: 0.75rem 0
      li
        padding-left: 0
        a
          text-decoration: underline
          display: inline-block
          font-size: 12px
          color: #333
          &:focus,
          &:hover
            text-decoration: none
        &:before
          content: none
        &:after
          content: "\f054"
          font-family: FontAwesome
          margin: 0 10px
          color: $accent-color
          font-size: 0.5em
          display: inline-block
          vertical-align: middle
        &:last-child
          &:after
            content: ""
        .fa
          color: #388ed4
          margin: 0 10px

.category-icon
  position: absolute
  top: 0
  left: 1.0625rem
  background-color: lighten($main-color, 45%)
  border-radius: 50%
  width: 48px
  height: 48px

@each $name in "01" "02" "03" "04" "05" "06" "07" "08"
  .cat-#{$name}
    @extend .category-icon
    background-image: url("/img/icons/cat-#{$name}.svg")
    background-repeat: no-repeat
    background-size: 1.5rem
    background-position: center

.categories-block
  position: relative
  border: 0
  border-bottom: 0
  padding: 18px 18px 8px
  border-radius: 5px
  margin-bottom: 15px
  &--title 
    font-weight: 700
    a
      display: block
      font-size: .9375rem
      color: #333
      padding: .4375rem 0
      &:hover
        color: $main-color
        text-decoration: underline

  .categories-list
    &--item
      .svg-inline--fa
        font-size: .4375rem
  
  .cl-category-block-img
    margin: -6px 10px 0 -9px
    display: block
    img
      margin: 10px 0 0 7px
  .no-padding-left
    padding-left: 0

  h2
    margin-top: 5px
    line-height: 15px
    a
      color: #0a7ab2
      font-size: 15px
      font-weight: 600
      text-transform: uppercase
      text-decoration: none
  ul
    position: relative
    padding: 0
    margin: 0
    &:before
      content: ""
      width: 100%
      position: absolute
      top: -7px
      left: 0
    li
      list-style: none
      margin-bottom: 3px
      border-bottom: 1px solid #ececec
      a
        color: #333
        font-weight: normal
        font-size: 13px
        text-decoration: none
        &:focus,
        &:hover
          font-weight: normal
          text-decoration: underline
          color: $main-color
        span
          background-color: #BFC4C0
          border-radius: 3.75em
          color: #fff
          display: inline-block
          font-size: .75em
          font-weight: 600
          line-height: 1
          padding: .4em .6em
          vertical-align: middle
      &.active
        a
          border: 1px solid #ff0
          color: #444

.subcategories
  .subcategories-container
    border-bottom: 1px solid #dadada
  .subcategories-list
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        font-size: .8125rem
        .svg-inline--fa
          color: $main-color
        a
          display: inline-block
          padding: .3125rem 0
          padding-left: .625rem
          text-decoration: underline
          &:focus,
          &:hover
            text-decoration: none
            color: lighten($main-color, 45%)
          span
            background-color: #BFC4C0
            border-radius: 3.75em
            color: #fff
            display: inline-block
            font-size: .75em
            font-weight: 600
            line-height: 1
            padding: .4em .6em
            margin: 0 .375rem
            vertical-align: middle

