.comments-container
  .title
    padding: 0.8em
    color: #040303
    text-transform: uppercase
    background-color: rgba(0, 0, 0, 0.03)
    font-weight: bold

  .comment-block
    font-size: 0.9rem
    border-bottom: 1px solid rgba(0, 0, 0, 0.125)
    &__nickname
      color: #f40a78

  .comments-count
    color: #f40a78


.comments-list
  &.scroller
    height: 500px
    overflow: hidden
    transition: all 0.25s ease
    &:hover
      overflow-y: auto
      width: 100%

