.main-footer
  min-height: 9.375rem
  background-color: $main-color
  border-top: 6px solid lighten($main-color, 45%)
  width: 100%
  color: #fff
  font-size: .875rem

  a
    color: #fff
    outline: none

    &:hover
      text-decoration: none
      color: lighten($main-color, 45%)

  .foot-by
    a
      color: lighten($main-color, 45%)