.main-head
  background-color: $main-color
  border-bottom: 6px solid lighten($main-color, 45%)

.navbar
  padding: 0.5rem 0

.navbar-brand
  img
    width: 13em
  &.mobile
    img
      width: 3em

.navbar-container
  background-color: $main-color