.navbar
  .dropdown
    a
      &::after
        color: #ffffff !important
    .user
      color: #ffffff

  .nav__mobile
    .post-skb
      .btn
        @media only screen and (max-width: 768px)
          display: block
          margin-right: 0 !important
          margin-bottom: .25rem !important
          width: 100%

      .btn
        background-color: lighten($main-color, 45%)
        color: #fff
        text-transform: uppercase
        transition: width 0s
        border-radius: $mobile-border-radius
        font-size: 12px
        font-weight: 600
        &:first-child
          background-color: darken($main-color, 10%)
          border: 2px solid lighten($main-color, 41%)
          &:hover
            text-decoration: underline
        &:last-child
          &:hover
            background-color: lighten($main-color, 41%)
        .svg-inline--fa
          display: flex
          align-items: center

  .nav__dekstop
    .post-skb
      .btn
        background-color: lighten($main-color, 45%)
        color: #fff
        text-transform: uppercase
        transition: width 0s
        border-radius: $border-radius
        padding: .625rem 1.1875rem
        font-size: 13px
        font-weight: 600
        &:first-child
          background-color: darken($main-color, 10%)
          border: 2px solid lighten($main-color, 41%)
          &:hover
            text-decoration: underline
        &:last-child
          &:hover
            background-color: lighten($main-color, 41%)

  .dropdown-menu
    position: absolute
    width: 100% !important
    .dropdown-item
      font-size: 0.8rem