.search-container
  background-color: #f6f6f6
  border-bottom: 1px solid #dadada
  .search-form
    &--input
      margin-bottom: .3125rem

      .form-control::-webkit-input-placeholder
        color: #afafaf
      .form-control:-moz-placeholder 
        color: #afafaf
      .form-control::-moz-placeholder
        color: #afafaf
      .form-control:-ms-input-placeholder
        color: #afafaf

      .form-control:hover::-webkit-input-placeholder
        color: #333333
      .form-control:hover:-moz-placeholder 
        color: #333333
      .form-control:hover::-moz-placeholder
        color: #333333
      .form-control:hover:-ms-input-placeholder
        color: #333333

      .form-control
        position: relative
        font-size: .875rem
        color: #afafaf
        transition: width 0s
        height: 2.5rem
        border-radius: $border-radius
        &:hover
          box-shadow: 0 0 11px rgba(33,33,33,.2)
          color: #333333

      select
        background-color: #ffffff !important
        background: url('/img/arrow-up.png') no-repeat right .625rem center 
        -webkit-appearance: none
        -moz-appearance: none
        -o-appearance: none
        &:hover
          background: url('/img/arrow-up_hover.png') no-repeat right .625rem center


    .btn
      background-color: $main-color
      color: #fff
      transition: width 0s
      height: 2.5rem
      border-radius: $border-radius
      &:hover
        background-color: lighten($main-color, 45%)
